<head>
  <meta charset="UTF-8">
  <title>Journal Club</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header >
      <h1>
       Welcome to the Journal Club! 
      </h1>
    </header>
      <main>

        {{{ body }}}
      </main>
  </div>
  </body>

</html>