<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="card-header">
  <h2>
    Weekly Journal
  </h2>
  <h3>
    Check out our weekly recommendations on resources related to mental health, nutrition and more
  </h3>
</div>
<div class="articles-container">
  <div class=" col-md-10">
  </div>
    <div class = "news-container">
      <ol>
        <li >
          <a href="/article/1">Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones </a>
        </li>
        <li>
          <a href="/article/2">Diana Nyad: Never, ever give up | TED Talk</a>
        </li>
        <li>
          <a href="/article/3">The Subtle Art of Not Giving a F*ck</a>
        </li>
        <li>
          <a href="/article/4">The brain-changing benefits of exercise</a>
        </li>

      </ol>
    </div>
  </div>
</div>