@font-face {
  font-family: "RobotoLight";
  src:url('../fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: "RobotoBold";
  src:url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: "RobotoRegular";
  src:url('../fonts/roboto/Roboto-Regular.ttf');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'RobotoRegular';
  background-color: #cbc8e0;
  box-sizing: border-box;
}

/* BUTTONS */
.btn-save-day, .btn-new-day, .btn-clear-day {
  display: none;
}

.btn-save-day {
  background-color: #1eb37d; 
  color:white;
}

span {
  font-family: 'RobotoLight';
}

.btn-join-colors {
  background-color: #1eb37d; 
  color:white;
}

.btn-join-position {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.icons {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* WRITE AREA */
.day-textarea,
.day-title {
  color: #3f3d56;
  background-color: #cbc8e0 ;
  width: 100%;
  outline: none;
  border: none;
  padding: 30px;
}

.day-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 30px;
  font-family: 'RobotoLight';
  font-size: 30px;
}

.day-title {
  height: 50px;
  margin-top: 30px;
  font-size: 3rem;
  font-family: 'RobotoBold';
}

.day-title:read-only,
.day-textarea:read-only {
  color: #757575;
}

/* CARD WITH LIST AREA */
.list-container .card {
  height: calc(100vh - 70px);
  margin: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 30px;
  cursor: pointer;
  color:#757575;
}

.list-container .list-group-item i {
  margin-left: 50px;
}
.card {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}
